html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body{
    font-family:  sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.navbar {
    /* overflow: hidden; */
    /* background: rgba(241, 243, 254, 0.95); */
    position: fixed;
    width: 100%;
    max-height: 5px;
    padding: 25px 80px 15px 50px;
    z-index: 999999;
    background: rgba(241, 243, 254, 0.6)
  }
  
  
  .hh-logo #hh-logo-text {
    font-size: 1.44rem;
    font-family: 'proxima_nova_altblack', 'Proxima Nova', sans-serif;
    font-weight: bolder;
    margin-top: -15px;
    margin-left: 20px;
    display: block;
    color: #011B33;
    animation: text-colorchange 45s infinite;
    /* animation-name followed by duration in seconds*/
    -webkit-animation: text-colorchange 45s infinite;
    /* Chrome and Safari */
  }
   button {
    /* Green */
    color: white;
    line-height: 30px;
    padding-left: 1.2em;
    padding-right: 1.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: 500;
    white-space: nowrap;
    vertical-align: middle;
  }
  li button{
    border-radius: 20px;
    background: #81018d;
    line-height: 25px;
    padding-left: 0.6em;
    padding-right: 0.6em;
    border: 1px solid white;
  }
  li button a{
    color: white !important;
    font-size: 1.4rem;
  }
  button:hover {
    filter: brightness(60%);
  }
  
 .btn2{
   background: #54b091;
   margin-left: 10px;
   font-size: 15px;
 }
 .btn1{
   background: #200846;
   font-size: 15px;
 }
h1{
  font-family: "proxima_nova_altbold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 800;
  font-size: 24px !important;
  color: #011B33;
}
  
.hh-logo-sub {
    font-weight: 500 !important;
    color: #eb63ff !important;
  }
  
  nav.menu {
    margin-top: -58px;
    float: right;
    padding: 20px 100px 0px 20px;	
  }
  
  #menu-icon {
    margin-top: 4px;
    margin-right: 10px;
     display: hidden;
    width: 30px;
      height: 30px;
      background: transparent url(../image/menu.png) no-repeat center/cover;
  }
  
  .menu .menu-list a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Proxima Nova', sans-serif;
    padding: 5px 10px 5px 10px;
  }
  
  .menu .menu-list a:hover#menu-icon {
      background-color: #444;
      border-radius: 4px 4px 0 0;
  }
  
  .menu .menu-list {
    list-style: none;    
    position: relative;
    display: unset;
  }
  
  .menu .menu-list li {
    position: relative;
    display: inline-block;
    float: left;
    padding: 10px 18px;
  }
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background-color: #eee;
    text-align: left;
  }
  
  .right {
    top: 10%;
    right: 0;
    background: url(../image/undraw1.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .centered {
    position: absolute;
  }
  .left .centered{
    padding-top: 160px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-bottom: 100px !important;
    padding-left: 20px;
    padding-right: 20px;
}
.left p{
  color: #38363b;
  font-size: 17px;
}


  @media screen and (min-width: 2560px){
    .left .centered{
      padding-top: 200px !important;
      margin-left: auto !important;
      margin-right: auto !important;
      padding-bottom: 100px !important;
      padding-left: 80px;
      padding-right: 80px;
  } 
  }

  @media screen and (max-width: 1440px) and (min-width: 1330px){
    .right {
        right: 0;
        background: url(../image/undraw1.png);
        background-repeat: no-repeat;
        background-size: contain;
      }
      .left .centered{
        padding-top: 220px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        padding-bottom: 100px !important;
    }
      }

  @media screen and (max-width: 1024px) and (min-width: 768px) {

    .menu .menu-list a {
      font-size: 0.8rem;
    }
  
    .menu .dropdown.small {
      min-width: 150px !important;
      margin-left: -80px !important;
    }
  
    .menu .menu-list li:last-child {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .menu .menu-list li {
      position: relative;
      display: inline-block;
      float: left;
      padding: 10px 10px;
    }
   .left .centered{
    padding-top: 160px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
    }

  @media screen and (max-width: 768px) {
     .navbar {
    padding: 16px 20px 14px 10px;
  }

  .menu li:hover .dropdown {
    display: block;
    position: relative;
  }

	.menu .menu-list, .menu:active .menu-list { 
    display: none;
    position: fixed;
    background: rgba(241, 243, 254, 0.95);
    right: 0px;
    text-align: left;
    width: 100%;
    height: 100%;
    border-radius: 4px 0 4px 4px;
	}

	.menu .menu-list li {
		text-align: left;
		width: 100%;
		padding: 10px 14px;
		margin: 0;
  }
  
	.menu:hover .menu-list {
		display: block;
	}

  .hh-logo img {
    max-width: 45px;
  }

  .hh-logo #hh-logo-text {
    font-size: 1.3rem;
    font-weight: 900;
    margin-top: -10px;
    margin-left: 50px;
  } 
  nav.menu {
    margin-top: -53px;
  }
  .left .centered{
    padding-top: 140px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-bottom: 100px !important;
}
  }

  @media screen and (max-width: 468px) {

    .menu .menu-list li {
		display: none;
  }
  .left .centered{
    padding-top: 140px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-bottom: 100px !important;
}
.right{
  display: none;
}
.split {
  height: 100%;
  width: 100%;
}

  }